.logo {
    font-weight: bold;
    background-color: teal;
    color: black;
    font-size: 30px;
    font-style:aqua;
}

.first image {
    width: 20%; 
    float: left; 
    margin : 5px;

}

.text {
    float: right;
}
